.navbar-custom {
    background-color: #e7e7e7;
}

.translucent {
    opacity: 0.6;
}

.btn-hover:hover {
    background: #d9230f;
    opacity: 1.0;
}

.btn-default {
    background: #4da309;
}

.btn-default:hover {
    background: #d9230f;
    opacity: 1.0;
}

.large-numbers {
    font-size: 80px;
    color: #d9230f;
}

.large-letters {
    font-size: 60px;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background: #4da309;
    border-color: #4da309;
}

/* ids */

#grad-warm {
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, red, yellow);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, red, yellow);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, red, yellow);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, red, yellow);
    /* Standard syntax */
}

#grad-cold {
    background: rgb(57, 56, 133);
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, rgb(56, 111, 133), rgb(4, 30, 80));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, rgb(56, 111, 133), rgb(4, 30, 80));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, rgb(56, 111, 133), rgb(4, 30, 80));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, rgb(56, 111, 133), rgb(4, 30, 80));
    /* Standard syntax */
}

.lowercase {
    text-transform: lowercase;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}